{% set HIGHLIGHT_CLASS = 'w3-dark-grey' %}

{% macro render_streak(streak, highlight_field, bigger=False) -%}
    <div class="w3-card w3-border w3-hover-border-dark-grey w3-border-grey w3-round-large">
        <a class="nounder" href="{{streak.url}}">
            <li>
                <h3 class='w3-center w3-sand'>{{streak[highlight_field]|format_num}}</h3>
                <p class='w3-center w3-container'>{{streak}}</p>
            </li>
        </a>
    </div>

{%- endmacro %}

{% macro render_column(gamer, streak_name, highlight_field) -%}
    <div class="w3-half ">
        <div class="white">
            <div class="w3-container">
                <h3 class="w3-theme w3-center">
                    <a href='{{gamer.homepage}}'>{{gamer.name}}</a>
                </h3>
            </div>
            <ul class="w3-ul w3-hoverable">
                {% for streak in gamer[streak_name] %}
                    {{ render_streak(streak, highlight_field) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endmacro %}

{% macro gamer_table(heading, gamer1, gamer2, streak_name, highlight_field, first_row) -%}

<div id="{{streak_name}}" class="w3-container streak w3-animate-opacity"
    {% if not first_row %}
    style="display:none"
    {% endif %}
>
    <h2>{{heading}}</h2>
    {{ render_column(gamer1, streak_name, highlight_field)}}
    {{ render_column(gamer2, streak_name, highlight_field)}}    
</div>


{%- endmacro %}

{% macro render_navbar(items) -%}
    <div class="w3-bar w3-theme w3-animate-opacity">
        {% for heading, gamer1, gamer2, streak_name, highlight_field in items[0:1] %}
            <button class="w3-bar-item w3-button {{HIGHLIGHT_CLASS}} tablink" onclick="openStreak(event, '{{streak_name}}')"
                 >{{heading}}</button>
        {% endfor %}
        {% for heading, gamer1, gamer2, streak_name, highlight_field in items[1:] %}
            <button class="w3-bar-item w3-button tablink" onclick="openStreak(event, '{{streak_name}}')">{{heading}}</button>
        {% endfor %}
    </div>

    <div class="w3-row-padding">
        {{ gamer_table(items[0][0], items[0][1], items[0][2], items[0][3], items[0][4], True) }}

        {% for heading, gamer1, gamer2, streak_name, highlight_field in items %}
            {{ gamer_table(heading, gamer1, gamer2, streak_name, highlight_field, False) }}
        {% endfor %}
    </div>

{%- endmacro %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Streak Comparison</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <style>
        .nounder {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <a href="https://github.com/pzelnip/streak_analyzer">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>

    <header class="w3-container w3-theme w3-animate-opacity">
        <h2>Comparing <a href='{{gamer1.homepage}}'>{{gamer1.name}}</a>
            with <a href='{{gamer2.homepage}}'>{{gamer2.name}}</a></h2>
    </header>

    {{
        render_navbar([
            ('Number of Days', gamer1, gamer2, 'best_n_by_num_days', 'length'), 
            ('Achievement Count', gamer1, gamer2, 'best_n_by_count', 'achievement_count'),
            ('Achievement Count Per Day', gamer1, gamer2, 'best_n_by_avg_per_day', 'average_per_day'),
            ('Weighted Avg Count Per Day', gamer1, gamer2, 'best_n_by_weighted_avg', 'weighted_average'),
        ])
    }}
    <footer class="w3-container w3-theme">
        <h5>Streak Analyzer</h5>
        <p class="w3-opacity">Comparing gamers since 2018</p>
    </footer>

    <script>
    function openStreak(evt, streakName) {
        var i;
        var x = document.getElementsByClassName("streak");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        // clear highlighted selected tab
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" {{HIGHLIGHT_CLASS}}", "");
        }
        // highlight selected tab
        document.getElementById(streakName).style.display = "block";  
        evt.currentTarget.className += " {{HIGHLIGHT_CLASS}}";
    }
    </script>
</body>

</html>
