{% macro render_streak(streak, highlight_field, bigger=False) -%}
    <a class="nounder" href="{{streak.url}}">
        <li>
            <h3>{{streak[highlight_field]|format_num}}</h3>
            <p>Streak details: <br>{{streak}}</p>
        </li>
    </a>
{%- endmacro %}

{% macro render_column(gamer, streak_name, highlight_field) -%}
    <div class="w3-half w3-card">
        <div class=""w3-card white">
            <div class="w3-container">
                <h3 class="w3-theme w3-center">
                    <a href='{{gamer.homepage}}'>{{gamer.name}}</a>
                </h3>
            </div>
            <ul class="w3-ul w3-border-top w3-card w3-hoverable">
                {% for streak in gamer[streak_name] %}
                    {{ render_streak(streak, highlight_field) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endmacro %}

{% macro gamer_table(heading, gamer1, gamer2, streak_name, highlight_field) -%}

<div class="w3-center w3-animate-opacity">
    <h2 id="{{heading}}">Best Streaks by {{heading}}</h2>
</div>

<div class="w3-row-padding w3-animate-opacity">
    {{ render_column(gamer1, streak_name, highlight_field)}}
    {{ render_column(gamer2, streak_name, highlight_field)}}    
</div>

{%- endmacro %}

{% macro render_navbar(items) -%}
    {% for item in items %}
        <a href="#{{item}}" class="w3-bar-item w3-button w3-padding-16">{{item}}</a>
    {% endfor %}

{%- endmacro %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Streak Comparison</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <style>
        .nounder {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <a href="https://github.com/pzelnip/streak_analyzer">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>

    <header class="w3-container w3-theme w3-animate-opacity">
        <h2>Comparing <a href='{{gamer1.homepage}}'>{{gamer1.name}}</a>
            with <a href='{{gamer2.homepage}}'>{{gamer2.name}}</a></h2>
    </header>

    <div class="w3-bar w3-theme w3-animate-opacity">
        {{render_navbar(['Number of Days', 'Achievement Count','Achievement Count Per Day', 'Weighted Avg Count Per Day'])}}
    </div>

    <div class="w3-row-padding">
        {{ gamer_table('Number of Days', gamer1, gamer2, 'best_n_by_num_days', 'length') }}
        <hr>
        {{ gamer_table('Achievement Count', gamer1, gamer2, 'best_n_by_count', 'achievement_count') }}
        <hr>
        {{ gamer_table('Achievement Count Per Day', gamer1, gamer2, 'best_n_by_avg_per_day', 'average_per_day') }}
        <hr>
        {{ gamer_table('Weighted Avg Count Per Day', gamer1, gamer2, 'best_n_by_weighted_avg', 'weighted_average') }}
    </div>

    <footer class="w3-container w3-theme">
        <h5>Streak Analyzer</h5>
        <p class="w3-opacity">Comparing gamers since 2018</p>
    </footer>
</body>

</html>
